<!DOCTYPE html>
<html lang="en">
<head>
    <title>TEST TASK</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="../../js/jquery-3.1.1.js"></script>
</head>

<body>
    <h1> It's the test task </h1>


    <input type="text" id="data"/>
    <a id="post" href="#">POST</a>
    <a id="get" href="#">GET</a>

    <div id="container"></div>
</body>

<script>
    $('#get').click(function () {
        $.ajax({
            type: "GET",
            cache: false,
            url: '/alldata',
            data: "",
            success: function (response) {
                var html = "";
                $.each(response.data, function (i) {
                    html = html + response.data[i] + "<br/>";
                });
                $('#container').html(html);
            }
        });
    });

    $('#post').click(function () {
        if (!$("#data").val()) {
            alert("Enter your data!");
        } else {
            $.ajax({
                type: "POST",
                cache: false,
                url: '/update',
                data: {
                    'data': $("#data").val()
                },
                success: function (response) {
                    $('#get').click();
                }
            });
        }

    });

</script>

</html>